.hero__slide {
	display: flex !important;

	min-height: 400px;

	&-left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 62px;

		width: 50%;
	}

	&-right {
		position: absolute;
		top: 50%;
		left: 50%;
		right: 0;
		transform: translateY(-50%);
		width: 50%;
	}

	&-image {
		display: flex;
		border-radius: 50%;

		&::after {
			content: '';
			padding-top: 100%;
		}
	}

	&-title {
		font-size: $font-size-x;
		line-height: $line-height-x;
	}

	&-nav {
		display: flex !important;
		width: 88px;
		height: 44px;

		background: $white-color;
		border-radius: $border-radius-m;
	}

	&-nav::after {
		content: '';

		position: relative;
		top: 8px;
		right: 44px;
		width: 1px;
		height: 28px;

		background: $gray-color;
	}

	&-btn--prev,
	&-btn--next {
		background: url('./../../../public/icons/slider-button.svg') no-repeat
			center center;
	}

	&-btn--prev {
		rotate: (180deg);
	}

	&-name,
	&-profession {
		position: absolute;
		padding: 12px 16px;

		font-size: $font-size-m;
		font-weight: 500;

		background: $white-color;
		border-radius: $border-radius-x;
	}

	&:nth-child(1) &-name,
	&:nth-child(2) &-profession {
		top: 48px;
		right: 88px;
	}

	&:nth-child(1) &-profession,
	&:nth-child(2) &-name {
		bottom: 48px;
		right: 348px;
	}
}
