<footer class="footer">
	<div class="container footer__container">
		<div class="footer__top">
			{% include './logo.html' %}
			<a href="#" class="hidden-low-tablet footer__top-share hidden-tablet"
				>поделиться</a
			>
			<div class="footer__top-links">
				<a href="#" class="footer__top-link">
					<!--  -->
					{% include './svg/facebook.svg' %}
				</a>
				<a href="#" class="footer__top-link">
					<!--  -->
					{% include './svg/vk.svg' %}
				</a>
			</div>
		</div>
		<div class="footer__bottom">
			<p class="footer__bottom-copy">&copy;&nbsp;Гросс маркет 2020</p>
			<a class="footer__bottom-confidentiality">
				Политика обработки персональных данных
			</a>
		</div>
	</div>
</footer>
