<div class="container form__container">
	<h1 class="form__title">Работа твоей мечты</h1>
	<div class="form__wrapper">
		<form id="form" class="form"></form>
		<div class="form-about">
			<h2 class="form-about__title">Наша суперцель</h2>
			<p class="form-about__text">— стать любимым магазином для каждой российской семьи.</p>
			<p class="form-about__text">
				Сотни тысяч наших сотрудников ежедневно работают над её достижением.
			</p>
			<p class="form-about__text">
				Мы уверены, что в ближайшие годы достигнем этого и будет здорово, если вместе с тобой.
			</p>
			<a href="tel:+79264331416" class="form-about__link">+7 (926) 433-14-16</a>
		</div>
	</div>
</div>
