{% from './vacancies-slide.html' import vacanciesSlide %}
<!--  -->
{% set text = 'Доставка товара по магазинам и гипермаркетам компании в
обслуживаемом регионе' %}
<!--  -->
{% set slides = {'товаровед': 'merchandiser.png', 'водитель': 'driver.png',
'пекарь': 'baker.png', 'кассир': 'cashier.png', 'продавец': 'salesman.png',
'повар': 'cook.png', 'приёмщик': 'receiver.png'} %}

<section class="vacancies">
	<div class="container vacancies__container">
		<h2 class="vacancies__title">вакансии в&nbsp;гросс маркете</h2>
		<div class="hidden-low-tablet vacancies__nav">
			<button class="slide-btn vacancies__nav-btn--prev"></button>
			<button class="slide-btn vacancies__nav-btn--next"></button>
		</div>
	</div>
	<div class="container vacancies__wrapper">
		<div class="swiper vacancies__slides">
			<div class="swiper-wrapper">
				{% for name, image in slides %}
				<!--  -->
				{{vacanciesSlide(name, imgPath(image), text)}}
				<!--  -->
				{% endfor %}
			</div>
		</div>
	</div>
</section>
