<section class="waiting">
	<div class="container">
		<div class="waiting__wrapper">
			<div class="waiting-left">
				<h1 class="waiting-left__title">Ждем тебя!</h1>
				<p class="waiting-left__text">
					В&nbsp;2020 году самыми востребованными умениями и&nbsp;качествами
					на&nbsp;рынке труда станут:
				</p>
				<p class="waiting-left__list">
					Умение ставить цели, планировать свое время, инициативность,
					настойчивость, высокая мотивация, умение эффективно общаться,
					любознательность.
				</p>
				<p class="waiting-left__text">
					А&nbsp;профессиональным навыкам можно научить любого человека.
				</p>
			</div>
			<div class="waiting-right">
				<h2 class="waiting-right__title">Остались вопросы?</h2>
				<a href="tel:+79264331416" class="waiting-right__link"
					>+7(926)433-14-16</a
				>
			</div>
		</div>
	</div>
</section>
