{% from './../components/vacancies-slide.html' import vacanciesSlide %}
<!--  -->
{% block vacancies %}
<section class="vacancies">
	<div class="container vacancies__container">
		<h2 class="vacancies__title">вакансии в&nbsp;гросс маркете</h2>
		<div class="hidden-mobile vacancies__nav">
			<button class="slide-btn vacancies__nav-btn--prev"></button>
			<button class="slide-btn vacancies__nav-btn--next"></button>
		</div>
	</div>
	<div class="vacancies__wrapper">
		<div class="swiper vacancies__slides">
			<div class="swiper-wrapper">
				{{ vacanciesSlide('товаровед', imgPath('merchandiser.png')) }}
				<!--  -->
				{{ vacanciesSlide('водитель', imgPath('driver.png')) }}
				<!--  -->
				{{ vacanciesSlide('пекарь', imgPath('baker.png')) }}
				<!--  -->
				{{ vacanciesSlide('кассир', imgPath('cashier.png')) }}
				<!--  -->
				{{ vacanciesSlide('продавец', imgPath('salesman.png')) }}
				<!--  -->
				{{ vacanciesSlide('повар', imgPath('cook.png')) }}
				<!--  -->
				{{ vacanciesSlide('приёмщик', imgPath('receiver.png')) }}
			</div>
		</div>
	</div>
</section>
{% endblock %}
