.popup {
	position: fixed;
	z-index: $z-index-modal-container;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: none;
	overflow-y: scroll;

	padding: 0 30px;

	background-color: rgba($black-color, 0.4);

	@include tablet {
		padding: 0;
	}

	&__container {
		position: relative;
		z-index: $z-index-modal-container;

		max-width: $content-width;
		margin: 72px auto;
		padding: 17px;

		display: flex;
		justify-content: center;
		flex-direction: column;

		height: max-content !important;

		background: $white-color;
		border-radius: $border-radius-m;

		@include tablet {
			padding: 32px 24px;
			margin: 0;
			border-radius: 0;
		}

		@include mobile {
			padding: 24px 14px;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;

		background: $white-color;

		&.active-scroll {
			position: sticky;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		@include mobile {
			padding: 21px 0;
		}

		&-title {
			font-size: $font-size-x;
			font-weight: 500;

			padding: 32px 0;
		}

		&-btn {
			width: 24px;
			height: 24px;

			font-size: $font-size-s;
			font-weight: 500;

			background: url('./../../../public/icons/close.svg') no-repeat;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 48px;

		padding: 0 32px 32px;

		&-wrapper {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}

		&-title {
			font-size: $font-size-x;
			font-weight: 500;
		}

		&-subtitle {
			font-size: $font-size-s;
			font-weight: 500;
		}

		&-text {
			font-size: $font-size-xs;
			line-height: $line-height-s;
		}

		&-text--gray {
			color: $silver-color;
		}
	}
}
