.hero {
	background: $gray-color;

	&__container {
		overflow-x: hidden;
	}

	&__slides {
		overflow-x: visible !important;
	}

	&__slide {
		display: flex !important;
		flex-direction: row;

		min-height: 400px;

		&-left {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 62px;

			width: 40%;
		}

		&-right {
			position: absolute;
			top: 50%;
			left: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 50%;
		}

		&-image {
			display: flex;
			border-radius: 50%;

			&::after {
				content: '';
				padding-top: 100%;
			}
		}

		&-title {
			font-size: $font-size-x;
			line-height: $line-height-x;
		}

		&-nav {
			display: flex !important;
			width: 88px;
			height: 44px;

			background: $white-color;
			border-radius: $border-radius-m;
		}

		&-nav::after {
			content: '';

			position: relative;
			top: 8px;
			right: 44px;
			width: 1px;
			height: 28px;

			background: $gray-color;
		}

		&-btn--prev {
			rotate: (180deg);
		}
	}
}
