.media {
	padding: 48px 0;

	&__container {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	&__title {
		font-size: $font-size-m;
		font-weight: 500;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;

		&-item {
			background: $gray-color;

			&::after {
				content: '';
				display: block;
				padding-top: 100%;
			}

			&:first-child {
				grid-row: auto / span 2;
				grid-column: auto / span 2;
			}
		}
	}

	&__btn {
		padding: 12px;
		width: 100%;

		align-items: center;

		font-size: $font-size-s;
		font-weight: 500;

		background-color: $gray-color;
		border-radius: $border-radius-m;
	}
}
