.vacancies {
	padding: 72px 0;

	font-weight: 500;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 32px;
	}

	&__title {
		font-size: $font-size-l;
	}

	&__nav {
		display: flex !important;
		width: 88px;
		height: 44px;

		&-btn--prev {
			rotate: (180deg);
		}
	}

	&__wrapper {
		@include container-padding-left;

		overflow-x: hidden;
	}

	&__slides {
		overflow-x: visible !important;
	}

	&__slide {
		background-color: $gray-color;
		border-radius: $border-radius-m;
		display: flex !important;

		&::after {
			content: '';
			padding-top: percentage(482 / 350);
		}

		&-title {
			position: absolute;
			z-index: $z-index-title-block;
			top: 24px;
			left: 24px;

			display: inline-block;

			padding: 12px 16px;

			font-size: $font-size-m;

			background-color: $white-color;
			border-radius: $border-radius-m;
		}

		&-image {
			width: 100%;
			position: absolute;
			bottom: 0;
		}
	}
}
