$font-family: 'Euclid Circular B';

$font-size-xs: 14px;
$font-size-s: 18px;
$font-size-m: 24px;
$font-size-l: 32px;
$font-size-x: 48px;
$font-size-2x: 72px;

$line-height-s: 22px;
$line-height-m: normal;
$line-height-l: 44px;
$line-height-x: 66px;

$black-color: #000000;
$white-color: #ffffff;
$gray-color: #f5f5f5;
$silver-color: #b3b3b3;
$red-color: #f66f66;
$yellow-color: #ffdf31;

$border-radius-m: 8px;
$border-radius-x: 1000px;

$content-width: 1100px;
$container-offset: 20px;
$container-width: calc($content-width + 2 * $container-offset);

$bp-low-desktop: 1360px;
$bp-high-tablet: 1024px;
$bp-low-tablet: 768px;
$bp-high-mobile: 480px;

$z-index-modal-container: 25;
$z-index-modal-block: 20;
$z-index-title-block: 15;
