.footer {
	padding: 72px $container-offset 32px;

	font-weight: 500;
	line-height: $line-height-m;

	background: $gray-color;

	@include high-mobile {
		padding: 48px 0 32px;
	}

	&__container {
		padding: 0;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px;

		background: $white-color;
		border-radius: $border-radius-m;

		@include high-mobile {
			flex-direction: column;
			align-items: start;
			gap: 24px;

			border-radius: 0;
		}

		&-share {
			font-size: $font-size-m;
		}

		&-links {
			display: flex;
			align-items: center;
			gap: 8px;
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 24px 15px;

		font-size: $font-size-xs;

		@include high-mobile {
			flex-direction: column-reverse;
			align-items: start;
			gap: 24px;
		}

		&-copy {
			flex: 1;
		}

		&-confidentiality {
			flex: 1;
			margin-left: 54px;

			@include high-mobile {
				margin: 0;
			}
		}
	}
}
