.footer {
	padding: 72px 0 32px;

	font-weight: 500;
	line-height: $line-height-m;

	background: $gray-color;

	&__container {
		padding: 0;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px;

		background: $white-color;
		border-radius: $border-radius-m;

		&-share {
			font-size: $font-size-m;
		}

		&-links {
			display: flex;
			align-items: center;
			gap: 8px;
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 24px 15px;

		font-size: $font-size-xs;

		&-copy {
			flex: 1;
		}

		&-confidentiality {
			flex: 1;
			margin-left: 58px;
		}
	}
}
