.header {
	padding: 35px 0;

	@include high-mobile {
		padding: 24px 0;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		font-weight: 500;
	}

	&__right {
		display: flex;
		align-items: center;
		gap: 32px;

		font-size: $font-size-s;

		&-phone {
			@include low-tablet {
				position: relative;
				top: 0;
				right: 12px;

				width: 24px;
				height: 24px;

				font-size: 0;

				background: url('./../../../public/icons/phone.svg');
			}
		}
	}
}
