.header {
	padding: 32px 0;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		font-weight: 500;
	}

	&__right {
		display: flex;
		align-items: center;
		gap: 32px;

		font-size: $font-size-s;

		// &-phone {
		// 	@include tablet {
		// 		width: 24px;
		// 		height: 24px;

		// 		font-size: 0;

		// 		background: url('./../../../public/icons/phone.svg');
		// 	}
		// }

		&-btn {
			padding: 12px 16px;
			background: $yellow-color;
			border-radius: $border-radius-m;
		}
	}
}
