.hero__slide {
	display: flex;
	min-height: 400px;

	@include low-tablet {
		min-height: 500px;
		flex-direction: column;
		align-items: center;
	}

	@include high-mobile {
		min-height: 520px;
	}

	&-left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 62px;

		width: 50%;

		padding-top: 48px;

		@include container-padding-left;

		@include low-tablet {
			width: 100%;
			max-width: 100%;
		}
	}

	&-right {
		position: absolute;
		top: 50%;
		left: 50%;
		right: 0;
		transform: translateY(-50%);

		width: 50%;
		max-width: 620px;

		margin: 0 auto;

		@include high-tablet {
			width: 60%;
		}

		@include low-tablet {
			left: 0;
			right: 0;
			bottom: 0;
			// top: 50%;
			transform: translateY(-50%);

			//margin: 0 auto;
			width: 100%;
		}

		@include high-mobile {
			position: absolute;
			top: 30%;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 120%;
		}
	}

	&-image {
		position: relative;
		display: flex;
		border-radius: 50%;

		&::after {
			content: '';
			padding-top: 100%;
		}

		@include high-tablet {
			border-radius: 50% 0 0 50%;
		}

		@include low-tablet {
			border-radius: 50% 50% 0% 0%;
			background-position: top center !important;
		}
	}

	&-title {
		font-size: $font-size-2x;
		line-height: $line-height-x;

		@include high-tablet {
			font-size: 64px;
		}

		@include low-tablet {
			font-size: $font-size-x;
			line-height: $line-height-l;
		}
	}

	&-nav {
		display: flex;
		width: 88px;
		height: 44px;

		background: $white-color;
		border-radius: $border-radius-m;
	}

	&-nav::after {
		content: '';

		position: relative;
		top: 8px;
		right: 44px;
		width: 1px;
		height: 28px;

		background: $gray-color;
	}

	&-btn--prev {
		rotate: (180deg);
	}

	&-name,
	&-profession {
		position: absolute;
		padding: 12px 16px;

		font-size: $font-size-m;
		font-weight: 500;

		background: $white-color;
		border-radius: $border-radius-x;
	}

	&:nth-child(1) &-name,
	&:nth-child(2) &-profession {
		top: 16%;
		right: 88px;

		@include high-tablet {
			top: 18%;
			right: 24%;
		}

		@include low-tablet {
			top: 28%;
			right: 24%;
		}

		@include high-mobile {
			top: 18%;
			right: 18%;
		}
	}

	&:nth-child(1) &-profession,
	&:nth-child(2) &-name {
		left: 88px;
		bottom: 16%;

		@include high-tablet {
			left: 20%;
			bottom: 18%;
		}

		@include low-tablet {
			left: 18%;
			bottom: -18%;
		}

		@include high-mobile {
			left: 18%;
			bottom: 8%;
		}
	}
}
