.media {
	padding-top: 72px;

	@include high-mobile {
		padding-top: 48px;
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 32px;

		@include high-mobile {
			gap: 12px;
		}
	}

	&__title {
		font-size: $font-size-l;
		font-weight: 500;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;

		@include high-tablet {
			grid-template-columns: repeat(6, 1fr);
		}

		@include high-mobile {
			grid-template-columns: 1fr;
			gap: 12px;
		}

		&-item {
			background: $gray-color;
			border-radius: $border-radius-m;

			&::after {
				content: '';
				display: block;
				padding-top: 100%;
			}

			@include high-tablet {
				grid-row: auto / span 2;
				grid-column: auto / span 2;
			}

			&:nth-child(1) {
				grid-row: auto / span 2;
				grid-column: auto / span 2;

				@include high-tablet {
					grid-row: auto / span 3;
					grid-column: auto / span 3;
				}

				@include high-mobile {
					grid-row: auto / span 2;
					grid-column: auto / span 2;
				}
			}

			&:nth-child(2) {
				@include high-tablet {
					grid-row: auto / span 3;
					grid-column: auto / span 3;
				}

				@include high-mobile {
					grid-row: auto / span 2;
					grid-column: auto / span 2;
				}
			}

			&:nth-child(n + 12) {
				@include high-tablet {
					display: none;
				}
			}
		}
	}

	&__btn {
		padding: 12px;
		width: 100%;

		align-items: center;

		font-size: $font-size-s;
		font-weight: 500;

		background-color: $gray-color;
		border-radius: $border-radius-m;
	}
}
