.vacancies__slide {
	@include slow-hover($yellow-color);
	position: relative;
	background-color: $gray-color;
	border-radius: $border-radius-m;
	display: flex !important; // хмм, импортнул стили в стилях и все работает
	// проблема изначально была в том, что стили слайдера подключаются после твоих, а должны до

	// порядок свойств должен быть таким:

	// миксины

	// обычные свойства

	// ::before, ::after, :disabled, &.active и т.д

	// адаптивы

	// следующие классы (&__class и др)

	&::after {
		content: '';
		padding-top: percentage(482 / 350);
	}

	// очень плохая идея скрывать блок по ховеру. тут должен быть оверлей у которого меняется opacity

	&:hover > &-image {
		display: none;
	}

	&:hover > &-text {
		display: block;
		position: absolute;
		// а если padding на родителя?
		left: 24px;
		bottom: 24px;
	}

	&-title {
		position: absolute;
		z-index: $z-index-title-block;
		top: 24px;
		left: 24px;
		// зачем такие сквозняки?
		display: inline-block; // кто это?

		padding: 12px 16px;

		font-size: $font-size-m;

		background-color: $white-color;
		border-radius: $border-radius-m;
	}

	&-image {
		width: 100%;
		position: absolute;
		bottom: 0;
	}

	&-text {
		display: none;
		font-size: $font-size-s;
	}
}
