.vacancies__slide {
	position: relative;
	background-color: $gray-color;
	border-radius: $border-radius-m;
	display: flex !important;

	&::after {
		content: '';
		padding-top: percentage(482 / 350);
	}

	&-title {
		position: absolute;
		z-index: $z-index-title-block;
		top: 24px;
		left: 24px;

		display: inline-block;

		padding: 12px 16px;

		font-size: $font-size-m;

		background-color: $white-color;
		border-radius: $border-radius-m;
	}

	&-image {
		width: 100%;
		position: absolute;
		bottom: 0;
	}

	&-text {
		display: none;
		font-size: $font-size-s;
	}

	&:hover {
		background: $yellow-color;
	}

	&:hover > &-image {
		display: none;
	}

	&:hover > &-text {
		display: block;
		position: absolute;
		left: 24px;
		bottom: 24px;
	}
}
