.vacancies {
	padding-top: 72px;

	@include high-mobile {
		padding-top: 48px;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 32px;
	}

	&__title {
		font-size: $font-size-l;
	}

	&__nav {
		display: flex;
		width: 88px;
		height: 44px;

		&-btn--prev {
			rotate: (180deg);
		}
	}

	&__wrapper {
		@include container-padding-left;

		overflow-x: hidden;

		@include high-mobile {
			padding: 0 $container-offset;
		}
	}

	&__slides {
		overflow-x: visible !important;
	}
}

// &__btn {
// 		@include high-mobile {
// 			display: block;
// 			width: 100%;

// 			position: sticky;
// 			top: 18px;
// 			left: 16px;
// 			right: 16px;

// 			padding: 12px;

// 			text-align: center;
// 			font-size: $font-size-s;

// 			background: $yellow-color;
// 			border-radius: $border-radius-m;
// 		}
// 	}
