.waiting {
	padding: 72px 0;

	@include high-mobile {
		padding: 48px 0;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include low-tablet {
			flex-direction: column;
			gap: 72px;
		}

		@include high-mobile {
			gap: 48px;
		}
	}

	&-left {
		display: flex;
		flex-direction: column;
		gap: 24px;
		max-width: calc(60% - 30px);

		@include low-tablet {
			min-width: 100%;
		}

		&__title {
			font-size: $font-size-2x;
			line-height: $line-height-x;

			@include low-tablet {
				font-size: $font-size-x;
			}
		}

		&__text {
			font-size: $font-size-s;
		}

		&__list {
			position: relative;
			left: 12px;
			margin-right: 12px;
			font-size: $font-size-xs;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: -12px;

				width: 3px;
				min-height: 100%;

				background: $yellow-color;
			}
		}
	}

	&-right {
		display: flex;
		flex-direction: column;
		gap: 32px;
		max-width: calc(40% - 30px);

		@include low-tablet {
			min-width: 100%;
		}

		&__title {
			font-size: $font-size-l;

			@include low-tablet {
				font-size: $font-size-m;
			}
		}

		&__link {
			font-size: $font-size-m;
			text-align: center;

			padding: 22px;

			background-color: $gray-color;
			border-radius: $border-radius-m;

			@include slow-hover($yellow-color);
		}
	}
}
